#!/bin/sh

set -ex

fetch http://127.0.2.1:3000/job/orb-freebsd/build/latest/f/bin/orb.txz && pkg install -y orb.txz && rm orb.txz

repos="default:https://opam.ocaml.org,unikernels:https://git.robur.io/hannes/unikernel-repo.git"
orb build --solver-timeout=600 --switch-name=/tmp/myswitch --date=1589138087 --out=. --repos=$repos %%OPAM_PACKAGE%%
