[Unit]
Description=Builder daemon
# You may need to add "docker.service" if you specify a IP setup by docker below
After=syslog.target network.target

[Service]
Type=simple
User=builder
Group=builder
# Add --ip and --upload args as needed
ExecStart=/usr/bin/builder-server

[Install]
WantedBy=multi-user.target
