[Unit]
Description=Builder worker
After=syslog.target network.target docker.service
Requires=docker.service

[Service]
Type=simple
Environment=BUILDER_PLATFORM=ubuntu-20.04
Environment=DOCKER_IMAGE=ubuntu:20.04
ExecStart=/usr/bin/docker run --rm --name %n ${DOCKER_IMAGE} sh -c \
 'apt update; \
  apt install --no-install-recommends --no-install-suggests -y wget ca-certificates; \
  wget -O builder.deb "https://builds.robur.coop/job/builder/build/latest/main-binary?platform=${BUILDER_PLATFORM}"; \
  apt install -y ./builder.deb; \
  builder-worker -r 172.17.0.1:1234 ${BUILDER_PLATFORM}'
ExecStop=/usr/bin/docker stop %n
# Apparently this is needed in case "docker run" dies for other reasons.
ExecStopPost=/usr/bin/docker stop %n
# Is Restart=on-success sufficient?
Restart=always

[Install]
WantedBy=multi-user.target
